<!DOCTYPE html>
<html>
<head>
  <style> 
    body{
       background: url(<%= asset_path 'image.jpg' %>);
  background-size: 200%;

      }
  </style>
</head>
<body >



<p id="alert"><%= alert %></p>



  <fieldset style="margin-left:440px; margin-right:440px; text-align: center; margin-top: 190px; border: 1px solid black; width: 20px;">
    <legend><h1 style="text-align: center;">Sign-in</h1></legend>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    

    <%= submit_tag "Login" %>
  </div>
</fieldset>
<% end %>





</body>
</html>



