<!DOCTYPE html>
<html>


<head>
  <style>
    body{
       background: url(<%= asset_path 'image.jpg' %>);
  background-size: 200%;
    }
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 200px;

}

li a:hover {
  background-color: black;
}
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:36px;
  -moz-border-radius-topleft:36px;
  border-top-left-radius:36px;
  -webkit-border-top-right-radius:36px;
  -moz-border-radius-topright:36px;
  border-top-right-radius:36px;
  -webkit-border-bottom-right-radius:36px;
  -moz-border-radius-bottomright:36px;
  border-bottom-right-radius:36px;
  -webkit-border-bottom-left-radius:36px;
  -moz-border-radius-bottomleft:36px;
  border-bottom-left-radius:36px;
  text-indent:-3.95px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#0a090a;
  font-family:Arial;
  font-size:15px;
  
  font-style:italic;
  height:36px;
  line-height:36px;
  width:79px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

</style>
</head>


<body >


<ul>
    <li><%= link_to 'Create New User', new_user_path %></li>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  </ul>





<p id="notice"><%= notice %></p>

<fieldset style="border: 2px solid black; width: 1px ; text-align:center; margin-left: 240px; padding-left: 40px; padding-right: 40px; ">
  <legend><h1>List of users:</h1></legend>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
tbody {color:black; font-weight:bold;}
</style>
</head>


<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><button ><%= link_to 'Show', user, :class => "myButton" %></button></td>
        <td><button><%= link_to 'Edit', edit_user_path(user), :class => "myButton" %></button></td>
        <td><button><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "myButton" %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>
</html>






